.article
    border-radius 4px
    box-shadow 0 3px 10px rgba(25, 17, 34, .05)
    margin-bottom 1rem
    padding 1rem

    a
        color #000
        text-decoration none

    h2
        margin-bottom 0

    p
        font-size .8rem

    .read_more
        color #524763
        font-size .8rem
        text-decoration underline